:root {
  --main-radius: 0 0 5px 5px;
  --nav-padding: 15px;
  --main-padding: 0 15px 15px 20px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #cbbeb5;
}

.container {
  display: grid;
  grid-template-rows: 0.25fr 3.5fr 0.25fr;
  grid-template-columns: 1fr;
  margin: 0 200px 0 200px;
  grid-template-areas:
  "nav"
  "main"
  "footer"
}

.container > nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "title generate"
}

.title {
  z-index: 1;
  grid-area: title;
  background-color: #423f3b;
  border-radius:var(--main-radius);
  padding:var(--nav-padding);
  font-family: 'Trocchi', serif;
  color: #cbbeb5;
  font-size: 30px;
  letter-spacing: -2px;
  justify-self: start;
  align-self: end;
  position:relative;
  margin: 15px 0 0 15px; 
}

.generate {
  z-index: 1;
  grid-area: generate;
  background-color: #423f3b;
  border-radius:var(--main-radius);
  justify-self: end;
  align-self: end;
  position:relative;
  padding: 15px 0 15px 30px;
  margin: 0 15px 0 0; 
}

.btnGenerate {
  background-color: #525266;
  color: #cbbeb5;
  font-family: 'Trocchi', serif;
  font-size: 15px;
  letter-spacing: 0px;
}

.ribbon {
  z-index: -1;
  right: 40px;
  top: 15px;
  position: relative;
  width: 0px;
  height: 35px;
  background-color: transparent;
  border: solid 15px #B13A22;
  border-bottom: solid 15px transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  /* cursor: pointer; */
}

/* .ribbon:hover {
  height: 65px;
}

.ribbon:active {
  border-color: #d00;
  border-bottom-color: transparent;
} */

.container > main {
  grid-area: main;
  background-color: #cbbeb5;
  border-radius:var(--main-radius);
  margin: -10px 0 0 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
  grid-template-areas:
  "genre1"
  "genre2"
  "genre3"
}

.genre1 {
  grid-area: genre1;
  background-color: #525266;
  border-radius:var(--main-radius);
  padding: 5px 15px 15px 20px;
}

.genre2 {
  grid-area: genre2;
  background-color: #525266;
  border-radius:var(--main-radius);
  padding:var(--main-padding);
}

.genre3 {
  grid-area: genre3;
  background-color: #525266;
  border-radius:var(--main-radius);
  padding:var(--main-padding);
}

.container > footer {
  grid-area: footer;
  display: grid;
  background-color: #cbbeb5;
  padding:var(--main-padding);
  justify-items: end;
}

@media only screen and (max-width: 1450px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 3.5fr 0.25fr;
    margin: 0 1% 0 1%;
    grid-template-areas:
    "nav"
    "main"
    "footer"
  }
}